apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-proxy
  namespace: devops-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-proxy
  template:
    metadata:
      labels:
        app: nginx-proxy
    spec:
      containers:
      - name: nginx-container
        image: omrigomel/nginx-proxy:latest
        ports:
        - containerPort: 80
