apiVersion: v1
kind: PersistentVolume
metadata:
  name: flask-pv
  namespace: devops-project
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: "/data/flask"
